body {
    background-color: #f8fafb;
}

section {
    padding: 10px;
    background-color: #fff;
}

.button {
    color: white;
    font-size: 18px;
    background-color: #017bff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 0px transparent; 
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: #0168d9; 
}

.button:focus {
    box-shadow: 0 0 0 3px #93c7fe; 
    outline: none; 
}

.Lorem {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin: 10px;
    padding: 0 15px; 
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
} 


.visible {
    max-height: 500px;
    opacity: 1;
    padding: 15px;
    border-color: #c0c2c4;
}